.head-content,
.foot-content {
    z-index: 10;
}

.shelter {
    z-index: 9;
}

.menu-button {
    display: block;
    float: left;
    margin: 0 10px 0 5px;
}

.left-bar {
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -180px;
    z-index: 99999;
    display: block;
    padding-top: 0;
    background-color: #435770;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: left linear .1s;
}

.mask {
    display: none;
    position: fixed;
    background-color: rgba(51,51,51,0.5);
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.main-bar {
    top: 0;
    overflow-x: hidden;
}

.main-content {
    top: 52px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.box {
    padding-top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: #f5f5f5;
}

.box-active {
    display: block;
}

table {
    width: 100% !important;
    overflow: auto;
}

table a {
    color: #000000;
    text-decoration: underline;
}

table a:hover {
    color: #0067b8;
    text-decoration: underline;
}

.head-content {
    height: 52px;
}

.site-branding {
    width: auto;
    font-size: 20px;
    text-align: left;
    height: auto;
    padding: 10px 0 10px 10px;
}

.site-title {
    text-align: left;
    margin: 0;
}

.site-title a {
    display: inline;
}

.site-title h5 {
    display: inline;
    font-weight: 100;
    margin-left: 15px;
}

.admin-box {
    text-align: center;
    color: #fff;
    margin: 40px 0;
}

.admin-box h4 {
    font-weight: 100;
    display: inline-block;
    margin-top: 15px;
}

.certificated-icon {
    display: inline-block;
    margin: -6px 0 0 5px;
}

.admin-box h5 {
    font-size: 12px;
    font-weight: 100;
    margin: 0 60px;
}

.userPic {
    display: block;
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: auto;
}

.title {
    padding: 10px;
}

.title-left {
    float: left;
    margin: 5px 0;
}

.title-right {
    float: right;
    margin: 0px 15px 0 0;
}

.overview-title {
    border-bottom: 0 !important;
}

.search {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    width: 33.5px;
    height: 33.5px;
}

.search-select {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 6px 12px;
    margin-top: -5px;
    height: 33.5px;
    font-size: 14px;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-select option {
    background-color: #fff;
}

.search-input {
    display: inline-block;
    padding: 6px 12px;
    margin: -10px -7.5px -5px -7px;
    height: 33.5px;
    font-size: 14px;
    vertical-align: middle;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-radius: 0;
}

th,
td {
    text-align: center;
    min-width: 85px;
    padding: 10px 7.5px;
    border-bottom: 0.5px solid #bbbbbb;
}

th {
    border-bottom: 1px solid #b5c7d6;
    border-right: 1px solid #b5c7d6;
    background-color: #f5f5f5;
}

th:last-child {
    border-right: 0;
}

.text-outer {
    padding: 15px 0;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.text {
    text-align: left;
    overflow: auto;
    position: relative;
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
    border: 1px solid #ccc;
}

.overview-outer {
    padding: 0;
}

.overview-outer .text {
    border: 0;
}

#updateMember-text-outer .text {
    padding-bottom: 20px;
}

.display-text {
    padding: 0;
}

.statistics {
    background-color: #f5f5f5;
    padding: 0 20px;
    border-top: 1px solid #bdc8d4;
    border-bottom: 0;
    height: 35px;
    position: fixed;
    bottom: 25px;
}

.group-edit-img,
.edit-img,
.display-img,
.delete-img,
.update-img {
    width: 32px;
    padding: 8px !important;
    background-color: transparent;
    border: 0;
}

.btn-area,
.create-btn-area {
    text-align: center;
    margin: 20px 0;
}

.section__title {
    text-align: left;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.gender {
    margin: 0 40px 0 10px;
}

.group {
    display: none;
}

.activity_id {
    display: none;
}

label {
    font-weight: normal !important;
    width: 100%;
}

textarea {
    width: 100%;
}

.activity-title {
    margin: 0 -20px;
    padding: 12px 20px 10px 20px;
    border-bottom: 1px solid #ccc !important;
    box-shadow: 1px 1px 1px #eee;
}

.close {
    color: #21252a;
    position: absolute;
    top: 0px;
    right: 0px;
}

.close img {
    margin: 5px;
}

#delete-img {
    border-radius: 1px;
    border: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #b2b2b2;
    background-color: darkred;
    text-align: center;
    margin: auto;
    height: 30px;
    width: 50%;
    max-width: 200px;
    color: #efefef;
}

#delete-img:hover {
    color: #efefef;
    border: 0.5px solid #a4a4a4;
    border-top: 1px solid #b2b2b2;
}

.addBtn {
    background-color: transparent;
    border: 0;
    margin: 0 10px;
    padding: 0;
}

.addBtn img {
    width: 24px;
}

.btn {
    display: none;
}

.shelter {
    background-color: rgba(33, 37, 42, 0.5)
}

.add-box {
    display: none;
    position: absolute;
    top: 140px;
    left: 20px;
    width: 280px;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 100;
}

.add-box-btn-area {
    text-align: right;
    padding: 0 20px;
}

#add-group-member {
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #0067b8;
    border: 0;
    border-radius: 5px;
}

#menu-displayMember-item,
#menu-updateMember-item,
#menu-displayGrouper-item,
#menu-updateGrouper-item,
#menu-updateActivity-item,
#menu-displayActivity-item {
    cursor: not-allowed;
}

#menu-displayMember-item:hover,
#menu-updateMember-item:hover,
#menu-displayGrouper-item:hover,
#menu-updateGrouper-item:hover,
#menu-updateActivity-item:hover,
#menu-displayActivity-item:hover {
    color: #8aa4af;
}

.user-main-head {
    text-align: left;
}


.user-box img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;
    border: 1px solid #ccc;
}

.userName {
    padding: 0;
    margin: 0 50px;
}

.delete-btn-area {
    margin: 40px auto;
    text-align: center;
}

.delete-btn-area button {
    margin: auto;
    height: 35px;
    width: 300px;
    border-radius: 2px;
    color: #fff;
    background-color: darkred;
}

.sign-item-outer {
    overflow: auto;
    position: relative;
    max-width: 1400px;
    margin: auto;
    text-align: left;
}

.inactive-item {
    margin: 15px;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 1px 1px 8px #ccc;
    height: auto;
    overflow: hidden;
    border-radius: 3px;
}

.no-inactive-item {
    overflow: hidden;
    height: auto;
    padding: 30px 50px;
}

.inactive-item h2 {
    color: #1296db;
}

.inactive-item h5 {
    margin: 30px;
}

.start-signup {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #b8c7ce;
    background-color: #f5f5f5;
    color: rgb(43, 54, 66);
}

.start-signup p {
    font-size: 20px;
    line-height: 20px;
}

#displayActivity-tab .text {
    padding: 20px;
}

.displayActivity-name {
    color: #1296db;
}

.displayActivity-name h2 {
    margin: 15px;
}

.displayActivity-inner {
    margin-left: 30px;
}

.createActivity,.activity-update {
    padding: 15px;
}

#group {
    width: 95%;
    margin-right: 20px;
}

.update-text {
    overflow-x: hidden;
}

.stuPic {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #888;
}
.userName {
    display: inline-block;
}
.signed-list-inner table {
    border: 1px solid #ccc;
}

.icon-not-allowed {
    margin-left: 5px;
    font-size: 12px !important;
    color: red;
}

#start-raffle {
    width: 200px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #b8c7ce;
    background-color: #f5f5f5;
    color: rgb(43, 54, 66);
    float: none;
    position: relative;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
    .left-bar {
        left: 0;
    }
    .add-box {
        top: 100px;
        left: 210px;
    }
    .text-outer {
        padding: 15px;
    }
    .inactive-item {
        height: 210px;
    }
    .inactive-item .btn-area {
        text-align: right;
        position: relative;
        top: -120px;
        padding-right: 30px;
    }
    #start-raffle {
        float: right;
        position: relative;
        top: -120px;
        right: 50px;
    }
}

@media (min-width: 992px) {
    .table-sort-search-container {
        width: auto;
        margin-right: 15px;
    }
    .btn {
        display: block;
        padding: 3px 12px;
        margin: 5px 15px 0 0;
    }
}