@charset "utf-8";

/* mobile（width < 768px） */

.container {
    font-family: 'Microsoft YaHei';
    text-decoration: none;
}

.shelter {
    display: none;
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

a {
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#back_to_top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none;
    cursor: pointer;
}

.container {
    background-color: #21252a;
}

.head-content {
    height: 90px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #21252a;
    color: #fff;
    box-sizing: border-box;
    display: block;
    font-size: 100%;
}

.main-navigation {
    z-index: 100;
}

.site-branding {
    text-align: center;
    font-size: 160%;
    font-weight: 300;
    display: block;
    color: #fff;
    padding-top: 20px;
    width: auto;
    height: 2.5em;
}

.site-title {
    text-align: center;
    margin-left: 20px;
}

.menu-button {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}

.main-navigation-mobile {
    position: absolute;
    top: 90px;
    font-size: 12px;
    display: none;
    padding: 0;
    width: 100%;
    z-index: 998;
}

.menu {
    padding: 0;
}

.main-navigation-mobile a {
    width: 100%;
}

.web_downIcon {
    display: inline;
}

.web_rightIcon {
    display: none;
}

.menu-item {
    font-weight: 400;
    padding: 10px 30px;
    margin: 0;
    border-top: 2px solid #21252a;
    background-color: rgb(28, 30, 34);
    cursor: pointer;
}

.sub-menu {
    position: relative;
    display: none;
    z-index: 99999;
}

.sub-menu-mobile {
    padding: 0;
}

.sub-menu-item {
    padding: 10px 90px;
    border-top: 2px solid #21252a;
    background-color: rgb(28, 30, 34);
    cursor: pointer;
}

.sub-menu-web {
    display: none;
    z-index: 99999;
}

.sub-menu-web-mobile {
    padding: 0;
}

.sub-menu-web .sub-menu-item {
    padding: 10px 0;
    cursor: pointer;
}

.sub-menu-web .sub-menu-item a {
    padding-left: 150px;
}

.sub-menu-wrap {
    display: none;
}

.menu-item a,
.sub-menu-item a {
    border: 0;
    padding: 0;
    font-weight: 400;
}

ul,
li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content {
    position: relative;
    top: 0px;
    bottom: 105px;
    background-color: #f5f5f5;
    width: 100%;
}

.bar-box {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.top-bar {
    font-size: 14px;
    height: 30px;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}

.location {
    display: none;
}

.index-icon {
    margin-top: -5px;
    width: 20px
}

.top-bar a {
    color: #1296db;
    text-decoration: underline;
}

.login {
    display: block;
    float: right;
}

.login img {
    display: none;
    border: 1px solid #21252a;
    border-radius: 50%;
}

.login h5 {
    margin: 3px;
}

.online-user {
    cursor: pointer;
}

.user-info {
    display: none;
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    right: 10px;
    margin-top: 5px;
    font-size: 18px;
    padding: 5px 20px;
    cursor: default;
}

.user-info img {
    display: inline;
    margin: 5px;
}

.user-info h4 {
    display: inline;
    padding: 0 10px;
    cursor: default;
}

.user-info h5 {
    font-size: 16px;
    margin: 10px;
    margin-left: 20px;
}

.user-info a {
    text-decoration: none;
    color: #21252a;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.left-bar {
    padding: 0;
}

.main-bar {
    padding: 0;
    padding-bottom: 20px;
    background-color: #fff;
}

.right-bar {
    padding: 0;
}

.wrap-bar {
    visibility: hidden;
    clear: both;
}

.foot-content {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 105px;
    background-color: #21252a;
    color: #fff;
    display: block;
}

.copyright {
    position: absolute;
    bottom: 31px;
    left: 0;
    right: 0;
    color: #fff;
    margin: 10px auto 20px auto;
    width: 22em;
    display: block;
}

.bottom-bar {
    position: absolute;
    background-color: #21252a;
    left: 0;
    right: 0;
    bottom: 0;
}

.bottom-contact {
    border-top: 1px solid rgb(85, 95, 114);
    padding: 5px 30px;
    text-align: right;
}

.bottom-contact a {
    font-weight: 100;
}


/* alert/comfirm */

.verticalAlign {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -1px;
}

.xcConfirm .xc_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21252a;
    opacity: 0.85;
    z-index: 2147000000;
}

.xcConfirm .popBox {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    z-index: 2147000001;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -120px;
    border-radius: 5px;
    font-weight: bold;
    color: #535e66;
}

.xcConfirm .popBox .ttBox {
    height: 50px;
    line-height: 30px;
    padding: 14px 30px;
    border-bottom: solid 1px #eef0f1;
}

.xcConfirm .popBox .ttBox .tt {
    font-size: 18px;
    display: block;
    float: left;
    height: 30px;
    position: relative;
}

.xcConfirm .popBox .ttBox .clsBtn {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 30px;
    background: url(../src/alert/icons.png) -48px -96px no-repeat;
}

.xcConfirm .popBox .txtBox {
    margin: 20px 30px;
    height: 70px;
    overflow: hidden;
}

.xcConfirm .popBox .txtBox .bigIcon {
    float: left;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    background-image: url(../src/alert/icons.png);
    background-repeat: no-repeat;
    background-position: 48px 0;
}

.xcConfirm .popBox .txtBox p {
    height: 84px;
    margin-top: 16px;
    line-height: 26px;
    overflow-x: hidden;
    overflow-y: auto;
}

.xcConfirm .popBox .txtBox p input {
    width: 364px;
    height: 30px;
    border: solid 1px #eef0f1;
    font-size: 18px;
    margin-top: 6px;
}

.xcConfirm .popBox .btnArea {
    border-top: solid 1px #eef0f1;
}

.xcConfirm .popBox .btnGroup {
    float: right;
}

.xcConfirm .popBox .btnGroup .sgBtn {
    margin-top: 5px;
    margin-right: 10px;
}

.xcConfirm .popBox .sgBtn {
    display: block;
    cursor: pointer;
    float: left;
    width: 95px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.xcConfirm .popBox .sgBtn.ok {
    background-color: #0095d9;
    color: #FFFFFF;
}

.xcConfirm .popBox .sgBtn.cancel {
    background-color: #546a79;
    color: #FFFFFF;
}


/* tablet（width > 992px） */

@media (min-width: 992px) {
    .head-content {
        height: 120px;
        font-size: 100%;
    }
    .site-branding {
        font-size: 230%;
        padding-top: 32px;
        width: 10em;
        height: auto;
    }
    .menu-button {
        display: none;
    }
    .main-navigation {
        float: right;
        padding: 0;
        width: 570px;
        margin-top: 5px;
        margin-right: 50px;
    }
    .web_downIcon {
        display: none;
    }
    .web_rightIcon {
        display: inline;
    }
    .menu-item {
        text-align: center;
        display: inline-block;
        padding: 7.5px 0px;
        width: 90px;
        background-color: transparent;
    }
    .menu-item:hover {
        background-color: rgba(102, 102, 102, 0.85);
    }
    .sub-menu {
        display: none;
        position: absolute;
        float: left;
        width: 150px;
        background-color: rgba(28, 30, 34, 0.85);
        border: 2px solid #21252a;
        margin: 0px 0 0 280px;
        z-index: 99999;
    }
    .sub-menu-item {
        padding: 10px 32px;
        border-top: 0;
        background-color: transparent;
    }
    .sub-menu-item:hover {
        background-color: rgba(102, 102, 102, 0.85);
    }
    .sub-menu-web {
        display: none;
        position: absolute;
        float: left;
        top: 116px;
        width: 150px;
        color: #21252a;
        background-color: rgba(245, 245, 245, 0.85);
        border: 1px solid #21252a;
        margin: 124px 0 0 429px;
        z-index: 99999;
    }
    .sub-menu-web .sub-menu-item {
        width: 150px;
        padding: 10px 32px;
        border: 0;
    }
    .sub-menu-web .sub-menu-item:hover {
        background-color: rgba(28, 30, 34, 0.85);
    }
    .sub-menu-web .sub-menu-item a {
        padding-left: 10px;
        color: #21252a;
    }
    .sub-menu-web .sub-menu-item a:hover {
        color: #ffffff;
    }
    #sub-menu-wrap {
        padding: 0;
        display: block;
        height: 0px;
        background-color: #21252a;
    }
    .menu-item a,
    .sub-menu-item a {
        border: 0;
        padding: 0;
        font-weight: 400;
    }
    .login {
        display: none;
    }
    .main-content {
        background-color: #f5f5f5;
    }
    .location {
        display: inline;
    }
    .index-icon {
        margin-top: -5px;
        width: 25px
    }
    .user-info {
        margin-top: 5px;
    }
    .main-bar {
        background-color: #fff;
        display: block;
    }
    .right-bar {
        background-color: #fff;
        display: block;
        border-left: 1px solid #efefef;
    }
    .right-bar-item {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }
    .right-item-title {
        text-align: left;
        border-left: 5px solid #435770;
        padding-left: 10px;
    }
    .user-box hr {
        margin: 5px 20px;
    }
    .user-box img {
        border-radius: 50%;
        margin: 5px;
        padding: 2px;
        border: 1px solid #ccc;
    }
    .user-box a {
        color: #000;
    }
    .inner-box {
        width: 90px;
        margin: auto;
    }
    .user-box .tap {
        text-align: left;
        text-decoration: underline;
    }
    .wea-more {
        display: none;
    }
    .wrap-bar {
        visibility: hidden;
        clear: both;
    }
    .foot-content {
        height: 105px;
    }
    .copyright {
        margin: 20px 0 20px 40px;
        float: left;
    }
    .contact {
        width: 625px;
    }
    .contact-block {
        display: block;
    }
    .contact-ways {
        text-align: center;
        display: inline-block;
        width: 205px;
    }
}


/* laptop（width > 1200px） */

@media (min-width: 1200px) {
    .head-content {
        height: 120px;
    }
    .site-branding {
        width: 10em;
        float: left;
    }
    .main-navigation {
        padding: 0;
        width: 570px;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 2em;
        margin-right: 50px;
        float: right;
    }
    .sub-menu-web {
        top: 67px;
    }
    .left-bar {
        background-color: #fff;
        display: block;
        border-right: 1px solid #efefef;
    }
    .contact {
        width: auto;
        float: right;
        border: 0;
        margin: 10px 50px 0 0;
    }
    .contact-block {
        display: block;
    }
    .contact-ways {
        width: auto;
        padding: 15px;
    }
    .bar-box {
        max-width: 1500px;
    }
}