.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #435770;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li>a {
    padding: 15px 5px 15px 15px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce;
}

.sidebar-menu>li>a>.fa {
    width: 20px;
}

.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a {
    color: #fff;
    background: rgba(87, 110, 136, 0.85);
    border-left-color: #3c8dbc;
}

.sidebar-menu>li>.treeview-menu {
    margin-left: 1px;
    background: rgb(43, 54, 66);
    ;
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #b5c7d6;
    background: #435770;
}

.sidebar-menu li>a>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu li.active>a>.fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu li.active>.treeview-menu {
    display: block;
}

.sidebar-menu a {
    text-decoration: none;
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
}

.sidebar-menu .treeview-menu>li {
    margin: 0;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 10px 5px 10px 20px;
    display: block;
    font-size: 14px;
    color: #8aa4af;
}

.sidebar-menu .treeview-menu>li>a>.fa {
    width: 20px;
}

.sidebar-menu .treeview-menu>li>a>.fa-angle-left,
.sidebar-menu .treeview-menu>li>a>.fa-angle-down {
    width: auto;
}

.sidebar-menu .treeview-menu>li.active>a,
.sidebar-menu .treeview-menu>li>a:hover {
    color: #fff;
}

.outerActive {
    color: #fff !important;
    background: rgba(87, 110, 136, 0.85);
    border-left-color: #3c8dbc;
}

.innerActive {
    color: #fff !important;
    background: rgba(80, 103, 128, 0.35);
    border-left: 2px solid #3c8dbc;
}

.pull-right {
    margin-right: 10px;
}

.iconfont-admin-menu {
    margin-right: 5px;
}