* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
}

.app {
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.bar {
    height: 50px;
    padding: 10px;
    line-height: 30px;
    position: relative;
    z-index: 999;
}

.main {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.upload-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.bar {
    color: white;
    background: #21252a;
}

.photo-canvas {
    position: absolute;
    top: 50%;
    left: 49.9%;
    border: 1px solid #ccc;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 31;
}

#preview {
    display: block;
    z-index: 3;
}

.picArea {
    margin-top: 20px;
    border: 1px solid#ccc;
    border-radius: 3px;
    height: 300px;
}

.wrap {
    float: left;
    position: relative;
    left: 50%;
}

#previewResult {
    position: relative;
    left: -50%;
    background: #fff;
    max-width: 200px;
    border: 0.5px solid black;
    margin-top: 30px;
}

.preview-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#closeCrop {
    padding: 6px 5px;
}

#getFile {
    padding: 6px 5px;
    color: rgb(0, 255, 64);
}

#rotateBtn {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: white;
    z-index: 5;
}

button {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: visible;
    font-size: 14px;
    padding: 8px;
    border: 0;
    background-color: #efefef;
    box-shadow: 1px 1px 1px #bbb;
}

input[type=file] {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}