.head-content,
.top-bar {
    z-index: 5;
}

.foot-content {
    z-index: 5;
}

h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.top-point {
    position: absolute;
    top: 0;
    right: 160px;
    z-index: 10;
    display: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../../src/wiki/directory-nav.png) no-repeat 0 -69px;
}

.bottom-point {
    position: absolute;
    bottom: 0;
    right: 160px;
    z-index: 10;
    display: none;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../../src/wiki/directory-nav.png) no-repeat 0 -69px;
}

.copyright-text {
    color: #fff;
    font-size: 14px;
}

.main-content {
    background-color: #fff;
}

.lemmaWgt-lemmaCatalog .lemma-catalog .catalog-list {
    width: auto;
}

.wiki-nav {
    display: none;
}

#back_to_top {
    z-index: 5;
}

.main-bar {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}

.nav-scroll {
    position: fixed;
    bottom: 100px;
    right: 0;
    width: 230px;
    height: 350px;
    padding: 10px 0;
    overflow: hidden;
}

.wiki-bar {
    position: relative;
    top: -250px;
}

.directory-nav {
    position: absolute;
    left: 40px;
    padding: 12px 0 20px 32px;
    display: none;
    z-index: 1;
}

.directory-nav li {
    height: 28px;
    line-height: 28px;
    position: relative;
}

.directory-nav li a {}

.directory-nav .l1 {}

.directory-nav .l2 {
    text-indent: 5px;
}

.directory-nav .l1 a {
    font-size: 14px;
}

.directory-nav .l2 a {
    font-size: 12px;
}

.directory-nav,
.directory-nav a {
    color: #666;
}

.directory-nav .cur a {
    color: #0084ff;
}

.directory-nav .line {
    position: absolute;
    left: 4px;
    top: 5px;
    bottom: 5px;
    z-index: 1;
    width: 2px;
    background: #ddd;
}

.directory-nav .c-top,
.directory-nav .c-bottom {
    position: absolute;
    left: 0;
    z-index: 2;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../../src/wiki/directory-nav.png) no-repeat 0 -69px;
}

.directory-nav .c-dot {
    position: absolute;
    left: -32px;
    top: 50%;
    z-index: 2;
    margin-top: -5px;
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: url(../../src/wiki/directory-nav.png) no-repeat -275px 0;
}

.directory-nav .c-top {
    top: 0
}

.directory-nav .c-bottom {
    bottom: 0
}

.directory-nav .cur-tag {
    position: absolute;
    left: -1px;
    top: 30px;
    z-index: 5;
    margin-top: -6px;
    display: block;
    width: 19px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    background: url(../../src/wiki/directory-nav.png) no-repeat -271px -37px;
    -webkit-transition: top .3s ease 0s;
    transition: top .3s ease 0s;
}

@media (min-width: 768px) {
    .right-bar-item {
        display: none;
    }
}

@media (min-width: 992px) {
    .main-navigation {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .main-navigation {
        margin-top: 35px;
    }
    .wiki-nav {
        border-bottom: 1px solid #efefef;
        padding: 0;
        display: block;
    }
    .wiki-nav>.title {
        height: 10px;
        background-color: #21252a;
    }
    .wiki-nav ul {
        font-size: 16px;
        text-align: center;
    }
    .wiki-nav li {
        padding: 10px 20px;
    }
    .wiki-nav li:hover {
        background-color: rgba(33, 37, 42, 0.1);
    }
    .wiki-nav a {
        color: #21252a;
    }
}